

// Controls how much the word container expands when each letter is "typed".
$chWidth: 278px;

// Typing animation length.
$typeDuration: 1500ms;

// The amount of times the cursor will blink.
$cursorLoopCount: 4;

// The amount of time before the animation begins.
$animationDelay: 1.3s;

$color: slateblue;
$bg: #f7f3ff;
$cursor: scale-color($color, $lightness: -60%);

h1 {
	font-size: 4.5rem;
}

.type-animation {
	// Required for keeping expected alignment
	display: inline-flex;
	// Start out by hiding via width and overflow
	width: 0;
	overflow: hidden;
	// Leave room for cursor!
	padding-right: 0.1em;
	position: relative;

	&:after {
		content: "";
		background: $bg;
		position: absolute;
		right: -1px;
		top: -0.05em;
		bottom: -0.05em;
		// width: 0;
		border-right: 9px solid transparent;
	}

	&.animating {
		animation: type $typeDuration;
		// "stick" to last frame
		animation-fill-mode: forwards;
		animation-delay: $animationDelay;

		&:after {
			animation: cursor 320ms $cursorLoopCount ease-in;
		}
	}
}

@keyframes cursor {
	0%,
	100% {
		border-color: $bg;
	}
	50% {
		border-color: $cursor;
	}
	100% {
		width: 0;
	}
}

$frameSize: 100;
@keyframes type {
	100% {
		width: $chWidth;
		padding-right: 0;
	}
}

#retype {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 0.75em;
	background: transparent;
	border-radius: 4px;
	color: inherit;
	border: 2px solid currentcolor;
	min-height: 34px;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;

	&:hover,
	&:focus {
		background-color: scale-color($bg, $lightness: -5%);
	}
}

@media screen and (min-width:421px) and (max-width:600px) {
	body h1 {
		font-size: 3.5rem;
	}

	body .type-animation {
		max-width: 212px;
	}

	body .type-animation:after {
		border-right: 7px solid transparent;
	}

	body #nikitas-io{
		letter-spacing: 0;
	}
}

@media screen and (max-width:420px) {
	body h1 {
		font-size: 2.3rem;
	}

	body .type-animation {
		max-width: 138px;
	}

	body .type-animation:after {
		border-right: 5px solid transparent;
	}

	body .type-animation.animating {
		-webkit-animation: type 2500ms;
		animation: type 2500ms;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-delay: 1.4s;
		animation-delay: 1s;
	}

	body #nikitas-io{
		letter-spacing: 0;
	}
}