@font-face {
    font-family: 'vger_light';
    src: url('fonts/vger_light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vger_regular';
    src: url('fonts/vger_regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vger_bold';
    src: url('fonts/vger_bold.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    font-family: 'vger_light', sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(38, 29, 69);
    color: crimson;
}

body::before {
    content: "";
    background-image: url(images/circuit_board_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
 
  }
  

aside {
    text-align: left;
}

section {
    width: 78%;
    margin-right: 3%;
    margin-left: 2%;
    order: 0;
}
aside {
    margin-top: 190px;
    width: 14%;
    margin-left: 3%;
    order: -1;
}

hr{
    background-color: crimson;
    height: 7px;
    border: none;
    margin-bottom: 15px;
    border-radius: 15px;
}

#header {
    display: flex;
    flex-wrap: wrap;
}

#name {
    font-family: 'vger_bold';
    margin-bottom: 0px;
}

#logs {
    text-align: left;
    padding: 10px;
    height: 560px;
    opacity: 0.85;
    background-color: rgb(55, 41, 99);
}

#featured {
    font-family: vger_regular;
    text-align: left;
}

.description {
    font-size: 18.7px;
    font-family: vger_regular;
    margin-top: 0px;
}

.colorBox {
    width: 130px;
    height: 130px;
}

.images {
    width: 100%;
    opacity: 0.85;
}

.borders{
    border: 1px solid rgb(64, 183, 247);
    box-shadow: 4px 4px 11px mediumvioletred;
}



/*For small screens (Mostly cellphones)*/

@media screen and (max-width:390px) {
    body {
        /* background: url('images/background-small_2x.jpg'); */
        background-size: contain;
        background-repeat: no-repeat;
    }
    aside {
        width: 90%;
        margin-top: 3%;
        margin-left: 14%;
        display: inline-flex;
    }
    section {
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
    figcaption {
        margin-bottom: 8%;
    }
    #logs {
        width: 97%;
    }
    #logo {
        order: -1;
        width: 30%;
        font-size: 40px;
        margin-top: 0.1em;
        margin-left: -1%;
    }
    #title {
        order: 0;
        width: 70%;
        text-align: left;
    }
    #name {
        margin-top: 6px;
        font-size: 26px;
        font-weight: bold;
    }
    .captions {
        margin-top: 0.5%;
        font-size: 20px;
        margin-bottom: 0.5%;
    }
    .colorBox {
        min-width: 22px;
        max-width: 22px;
        height: 22px;
    }
    .hex {
        margin-top: 0%;
        margin-right: 2%;
        font-size: 1.9vh;
    }
    .description {
        font-size: 13px;
        font-weight: 500;
    }
    .images {
        min-width: 150px;
    }
}

/*For medium screens (Mostly tablets, maybe cellphones)*/

@media screen and (min-width:391px) and (max-width:600px) {
    body {
        /* background: url('images/background-medium_2x.jpg'); */
        background-size: contain;
        background-repeat: no-repeat;
    }
    aside {
        width: 90%;
        margin-top: 3%;
        margin-left: 10%;
        display: inline-flex;
    }
    section {
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
    figcaption {
        margin-bottom: 8%;
    }
    #logs {
        width: 97%;
    }
    #logo {
        order: -1;
        width: 23%;
        font-size: 45px;
        margin-top: 0.1em;
        margin-left: -1%;
    }
    #title {
        order: 0;
        width: 77%;
        text-align: left;
    }
    #name {
        margin-top: 6px;
        font-size: 30px;
        font-weight: bold;
    }
    .captions {
        margin-top: 0.5%;
        font-size: 30px;
        margin-bottom: 0.5%;
    }
    .colorBox {
        min-width: 42px;
        max-width: 42px;
        height: 42px;
    }
    .hex {
        margin-top: 0%;
        margin-right: 4%;
        font-size: 18px;
    }
    .description {
        font-size: 15px;
    }
    .images {
        display: flex;
        flex-wrap: wrap;
    }
}

/*Still for medium screens (Mostly tablets)*/

@media screen and (min-width:601px) and (max-width:980px) {
    body {
        /* background: url('images/background-large_2x.jpg'); */
        background-size: contain;
        background-repeat: no-repeat;
    }
    section {
        width: 76.5%;
        margin-right: 1.5%;
        margin-left: 0%;
    }
    aside {
        margin-top: 147px;
        width: 20%;
        margin-left: 2%;
    }
    #logo {
        order: -1;
        width: 10%;
        font-size: 67px;
        margin-top: 0.3em;
    }
    #title {
        order: 0;
        width: 90%;
        text-align: right;
    }
    #name {
        font-size: 45px;
    }
    #featured {
        font-size: 45px;
        margin-bottom: 0%;
    }
    #logs {
        height: 480px;
    }
    .captions {
        margin-top: 0.5%;
        font-size: 45px;
        margin-bottom: 0.5%;
    }
    .colorBox {
        width: 44px;
        height: 44px;
        margin-bottom: -13%;
    }
    .hex {
        width: 105px;
    }
    .description {
        font-size: 15.3px;
    }
}

/*For big screens*/

@media screen and (min-width:981px) and (max-width:1090px) {
    body {
        /* background: url('images/background-large_2x.jpg'); */
        background-size: contain;
        background-repeat: no-repeat;
    }
    #logo {
        order: -1;
        width: 10%;
        font-size: 85px;
        margin-top: 0.4em;
    }
    #title {
        order: 0;
        width: 90%;
        text-align: right;
    }
    #name {
        font-size: 55px;
        margin-bottom: 0px;
    }
    #featured {
        font-size: 45px;
        margin-bottom: 0%;
    }
    #work {
        margin-left: -3%;
        display: inline-flex;
    }
    #relax {
        margin-left: -56px;
        margin-right: -56px;
    }
    .captions {
        margin-top: 0.5%;
        font-size: 30px;
        margin-bottom: 0.5%;
    }
    .images {
        min-height: 125px;
        max-height: 125px;
        min-width: 210px;
        max-width: 210px;
    }
    .colorBox {
        width: 53px;
        height: 53px;
    }
}

@media screen and (min-width:1090px) {
    body {
        /* background: url('images/background-large_2x.jpg'); */
        background-size: contain;
        background-repeat: no-repeat;
        width: 1091px;
        margin-left: auto;
        margin-right: auto;
    }
    #logs {
        min-width: 100%;
    }
    #logo {
        order: -1;
        width: 10%;
        font-size: 85px;
        margin-top: 0.4em;
    }
    #title {
        order: 0;
        width: 90%;
        text-align: right;
    }
    #name {
        font-size: 55px;
        margin-bottom: 0px;
    }
    #featured {
        font-size: 45px;
        margin-bottom: 0%;
    }
    #work {
        margin-left: -3.5%;
        display: inline-flex;
    }
    #relax {
        margin-left: -56px;
        margin-right: -56px;
    }
    .captions {
        margin-top: 0.5%;
        font-size: 30px;
        margin-bottom: 0.5%;
    }
    .images {
        min-height: 125px;
        max-height: 125px;
        min-width: 210px;
        max-width: 210px;
    }
}
