@font-face {
    font-family: 'vger_regular';
    src: url('fonts/vger_regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vger_bold';
    src: url('fonts/vger_bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OCRA';
    src: url('fonts/OCRAStd.otf');
    font-weight: normal;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 9px;
}

html::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px crimson; 
    border-radius: 10px;
}

body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: vger_regular;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(38, 29, 69);
    color: crimson;
    overflow-x: hidden;
}

body::before {
    content: "";
    background-image: url(images/background/circuit_board_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    
    /* Fade the bottom of the background */
    box-shadow: inset 0px -150px 117px 15px rgb(38, 29, 69) !important;
}

section {
    width: 78%;
    margin-right: 3%;
    margin-left: 2%;
    order: 0;
    z-index: 1;
}

article {
    width: 90%;
    margin-left: 5px;
    margin-bottom: 90px;
    text-align: left;
}

aside {
    margin-top: 227px;
    width: 14%;
    margin-left: 3%;
    order: -1;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-family: "Courier New", Courier, monospace;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
}

p{
    margin-top: 0;
    padding-top: 0;
}

h5{
    margin-bottom: -35px;
}

hr {
    background-color: crimson;
    height: 7px;
    border: none;
    margin-bottom: 15px;
    border-radius: 15px;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.name {
    font-family: 'vger_bold';
    margin-bottom: 0px;
}

#logs {
    height: 595px;
    opacity: 0.87;
    position: relative;
    background: transparent;
}


.text {
    font-family: OCRA;
    font-size: 14px;
    text-align: left;
    opacity: 1;
    color: #f1f1f1;
}

.text-header{
    font-family: 'vger_bold';
    color: crimson;
    font-size: 24px;
    font-weight: bold;

    position: absolute;
    margin-left: 28px;
    margin-top: -9px;
}

.article-borders{
    border: 25px solid transparent;
    border-image: url(images/borders.png) 20 stretch;
}

.article-image{
    width: 200px;
    float: left;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 15px;
}

#project-content{
    margin-top: 27px;
    margin-right: 20px;
}

.title{
    text-align: right;
}

.sub-title{
    margin-left: 3px;
    text-align: left;
}

.basic-button {
    cursor: pointer;
    height: 53px;
    border-radius: 5px;
    font-size: large;
    font-family: vger_bold;
    color: white;
}

.basic-button:active {
    transform: translate(0, 4%);
}

.scroll-button{
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
    border: 1px solid rgb(64, 183, 247);
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#social {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 330px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.hex {
    color: #e3e3e3;
    width: 130px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    border-radius: 3px;
    opacity: 0.8;
}

aside img{
    opacity: 0.85;
}

aside img:hover{
    opacity: 1;
    cursor: pointer;
}

.description {
    font-size: 16.1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.colorBox {
    width: 130px;
    height: 130px;
}

.images {
    cursor: pointer;
    border-radius: 73px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 65px;
    transition: transform .2s;
}

.images:hover {
    transform: scale(1.2); /* (150% zoom) */
}

.borders {
    border: 1px solid rgb(64, 183, 247);
    transition: box-shadow .15s;

}

.borders:hover{
    box-shadow: 0px 0px 10px 5px mediumvioletred;
}


/* Scrollspy Start */

.scrollspy {
    width: 95.5%;
    text-align: center;
    margin-left: 1.5%;
    margin-right: 3%;
    margin-bottom: 2%;
}

.spy > nav {
	position: sticky;
	top: 1rem;
	align-self: start;
}

/* ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	box-shadow: 0 0 10px rgb(64, 183, 247);
    background: rgb(64, 183, 247);
    color: #212121;
    
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid #efefef;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: 10px;
	color: #ccc;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover {
	color: white;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}



.spy {
	display: grid;
	grid-template-columns: 1fr 15em;
	max-width: 100em;
	width: 102%;
	margin: 0 auto;
}

#project-content hr{
    height: 2px;
    margin-left: 30px;
}

/* Scrollspy End */

.blinker {
    /* animation: blinker 4s linear infinite; */
    opacity: 1;
    box-shadow: 0px 0px 19px 1px mediumvioletred;
    pointer-events: none;
}

.blinker:hover {
    animation: none;
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}

/*For small screens (Mostly cellphones)*/

@media screen and (max-width:390px) {
    body::before {
        background-image: url(images/background/circuit_board_small.jpg);
    }

    aside {
        width: 100%;
        margin-top: -2%;
        margin-left: 3.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 0;
    }

    section {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    aside img{
        opacity: 1;
    }

    body .tabs-list li input[type=radio]:checked ~ .section {
        height: 273px;
        pointer-events: none;
    }

    #social {
        width: 225px;
    }

    #logs {
        height: 390px;
    }

    #logo {
        order: -1;
        width: 22%;
        font-size: 49px;
        margin-top: 0.1em;
        margin-left: -1%;
    }

    .title {
        order: 0;
        width: 79%;
    }

    .name {
        margin-top: 13px;
        font-size: 29px;
    }

    .colorBox {
        min-width: 22px;
        max-width: 22px;
        height: 22px;
    }

    .hex {
        width: 87%;
        margin-top: 4%;
        font-size: 15px;
    }

    .description {
        font-size: 13.09px;
        width: 179.5px;
        float: right;
    }

    .images {
        width: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*For medium screens (Mostly tablets, maybe cellphones)*/

@media screen and (min-width:391px) and (max-width:600px) {
    body::before {
        background-image: url(images/background/circuit_board_small.jpg);
    }

    aside {
        width: 100%;
        margin-top: 0%;
        margin-left: 0.8%;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 0;
    }

    aside img{
        opacity: 1;
    }

    section {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    body .tabs-list li input[type=radio]:checked ~ .section {
        height: 277px;
    }

    #logs {
        height: 400px;
    }

    #logo {
        order: -1;
        width: 23%;
        font-size: 52px;
        margin-top: 0.1em;
        margin-left: -1%;
    }

    .title {
        order: 0;
        width: 77%;
    }

    .name {
        margin-top: 18px;
        font-size: 43px;
        font-weight: bold;
    }

    .side-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .colorBox {
        min-width: 42px;
        max-width: 42px;
        height: 42px;
    }

    .hex {
        width: 96%;
        margin-top: 0%;
        font-size: 18px;
    }

    .description {
        font-size: 10.65px;
    }

    .scrollspy {
        width: 95%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

/*Still for medium screens (Mostly tablets)*/

@media screen and (min-width:601px) and (max-width:980px) {
    body{
        margin-right: 3%;
        margin-left: 3%;
    }

    body::before {
        background-image: url(images/background/circuit_board_medium.jpg);
    }

    section {
        width: 76.5%;
        margin-right: 1.5%;
        margin-left: 0%;
    }

    aside {
        margin-top: 188px;
        width: 20%;
        margin-left: 2%;
    }

    aside img{
        opacity: 1;
    }

    body .tabs-list li input[type=radio]:checked ~ .section {
        height: 357px;
    }

    #logo {
        order: -1;
        width: 10%;
        font-size: 67px;
        margin-top: 0.3em;
    }

    .title {
        order: 0;
        width: 90%;
    }

    .name {
        font-size: 48px;
    }

    #logs {
        height: 480px;
    }

    .colorBox {
        width: 44px;
        height: 44px;
        margin-bottom: -13%;
    }

    .hex {
        width: 104.3px;
        margin-bottom: 1px;
        font-size: 16px;
    }

    .description {
        font-size: 11.9px;
    }

    .scrollspy {
        width: 97%;
        margin-left: 1.5%;
        margin-right: 1%;
    }
}

/*For big screens*/

@media screen and (min-width:981px) and (max-width:1090px) {
    body::before {
        background-image: url(images/background/circuit_board_medium.jpg);
    }

    #logo {
        order: -1;
        width: 10%;
        font-size: 85px;
        margin-top: 0.4em;
    }

    .title {
        order: 0;
        width: 90%;
    }

    .name {
        font-size: 65px;
        margin-bottom: 0px;
    }

    .colorBox {
        width: 53px;
        height: 53px;
    }
}

@media screen and (min-width:1090px) {
    body {
        width: 1091px;
        margin-left: auto;
        margin-right: auto;
    }

    #logo {
        order: -1;
        width: 10%;
        font-size: 85px;
        margin-top: 0.4em;
    }

    .title {
        order: 0;
        width: 90%;
    }

    .name {
        font-size: 65px;
        margin-bottom: 0px;
    }   
}



/****** Tabs Menu ******/


.tabs-list {
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 18px;
  color: rgb(64, 183, 247);
}

.tabs-list * {
  -webkit-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
  outline: none;
}

.tabs-list :before,
.tabs-list :after { content: ''; }

.tabs-list li { 
    display: inline-block;
}


.tabs-list li input[type=radio] {    
    opacity: 0;
    position: absolute;
    z-index: -1;
}


.tabs-list li input[type=radio]:checked ~ label {
  box-shadow: 0 0 10px rgb(64, 183, 247);
  background: rgb(64, 183, 247);
  color: #212121;
  height: 50px;
  font-size: 1.1em;
  cursor: default;
  /* Make the active tab non-clickable */
  pointer-events: none;
}

.tabs-list li input[type=radio]:checked ~ .section {
  opacity: 1;
  display: block;
  width: 100%;
  height: 472px;
  padding: 15px 0 5px 0;
  border: 1px solid rgb(64, 183, 247);
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #f1f1f1;
  letter-spacing: .1em;
  text-indent: 1em;
  font-family: OCRA;
  font-size: 14px;
  /* Make the text unselectable */
  -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

p.tab-content{
    transition: opacity .15s;
    opacity: 1;
    margin-left: 15px;
    margin-right: 15px;
}

.tabs-list li label {
  border-radius: 5px 5px 0 0;
  display: block;
  width: 120px;
  height: 50px;
  border: 1px solid rgba(0, 190, 190, 0.7);
  border-bottom: 0;
  color: #ccc;
  line-height: 50px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  transition: box-shadow .15s;
  /* Make the text unselectable */
  -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.tabs-list li label:hover {
  height: 50px;
  border-color: rgb(64, 183, 247);
  color: white;
}

.tabs-list li .section {
  opacity: 0;
  position: absolute;
  top: 51px;
  left: 0;
  /* width: 1000px; */
  padding: 50px;
  border: 1px solid rgb(64, 183, 247);
  background: rgba(0, 190, 190, 0.1);
  color: white;
  letter-spacing: -1em;
  text-indent: 1em;
  z-index: 1;
}